section{
    background-color: rgb(89, 81, 131);
    max-width: 20%;
    height: 300px;
    margin: 20px;
    opacity: 0.4;
    }

img{
    display: block; 
    margin-left: auto;
    margin-right: auto; 
     
}